*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    color:rgb(92, 90, 90) ;
    justify-content: center;
}
body{
  height: 100vh;
  width:100vw ;
  background-color: #edf1fd;
  display: flex;flex-direction: column;
  justify-content: space-between;
}
li{
    list-style: none;
    cursor: pointer;
    
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 500;
    width: fit-content;
}
button:hover{
    background-color: #edf1fd;
    color: black;
    border: 1px solid black;

}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
    font-weight: 700;
    font-size: 30px;

}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}
nav ul li:hover{
    text-decoration: underline;
  font-weight: 900;
}
.searchfield{
    display: flex;
    gap: 35px;
}
input{
    padding: 4px 10px;
}
.herosection{
    display: flex;
    align-items: center;
}
.hero-section-left h1 {
margin-bottom: 20px;
font-weight: 700;
}
.hero-section-left span{
    color: rgb(18, 155, 155);
    font-weight: 900;
    font-size: 2.5 rem;
}
.hero-section-left p {
    font-weight: 500;
}
.hero-section-left p span{
    font-weight: 700;
}
.hero-section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
    gap: 30px;
}
.hero-section-right div button {
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-section-right img {
    height: 300px;
    width: 350px;
    border-radius: 400px;
}
footer{
    display: flex;
    justify-content: space-around;
}
footer p{
    font-weight: 600;
}
footer ul {
    display: flex;
    gap: 30px;
    align-items: center;
}