*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
}
nav{ 
    display: flex;
    margin: 20px ;
    height: 10vh;
    align-items: center;
}
nav ul {
    display: flex;
    align-items: center;
    gap:20px ;
    
}
nav ul li:hover{
    font-weight: 700;
}
nav div{
    width: 200px;
    font-weight: 900;
    font-size: 20px;
    margin-right: 125px;
}
a{
    text-decoration: none;
    color: black;
}
.pc{
    margin: 15% 10%;
}
button{
    border-radius: 5px;
    padding: 4px 10px;
    margin-top: 20px;
    background-color: green;
    color: aliceblue;
    
}
button:hover{
    background-color: black;
    color: aliceblue;
    border-color: aliceblue;
}
main{
    display: flex;
    align-items: center;
    margin-top: 100px;

}